div {
    margin: 20px, 20px;
    background-image: linear-gradient(to top right, red 10%, white);
    background-repeat: no-repeat;
    height: 1000px;
}

.satu {
    width: 500px;
    height: 400px;
    margin: 0 auto;
    background-image: radial-gradient(ellipse at bottom, white, blue);
}

.dua {
    width: 500px;
    height: 125px;
    margin: 0 auto;
    background-image: radial-gradient(circle at left ,white,blue,white);
}